{% extends 'base_back.html.twig' %}

{% block title %}Liste Questions{% endblock %}

{% block style %}
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{{ asset('back/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{ asset('back/plugins/toastr/toastr.min.css') }}">
{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h1>Classement joueurs</h1>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Classement joueurs, Quiz : {{ quiz.title }}</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">Position</th>
                            <th>Nom</th>
                            <th>Mail</th>
                            <th>Nb bonnes réponses</th>
                            <th>Temps réalisé</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                {% set nbGoodResponses = time_quiz.getGoodResults(user, quiz.id) %}
                                <td>{{ (nbGoodResponses > 1) ? nbGoodResponses ~ ' bonnes réponses' : nbGoodResponses ~ ' bonne réponse' }}</td>
                                <td>{{ time_quiz.getTimeQuizWithCountResponses(user, quiz.id).time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}
