<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('home') }}" class="brand-link">
        <span class="brand-text font-weight-light">Concours-Culture</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('back/img/avatar5.png') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Dashboard</li>
                <li class="nav-item">
                    <a href="{{ path('back_dashboard') }}" class="nav-link {% if app.request.get('_route') == 'back_dashboard' %}active{% endif %}">
                        <i class="nav-icon far fa-chart-bar"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Quiz</li>
                <li class="nav-item">
                    <a href="{{ path('back_questions_list') }}" class="nav-link {% if app.request.get('_route') == 'back_questions_list' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>
                            Questions / Réponses
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('back_quiz_list') }}" class="nav-link {% if app.request.get('_route') == 'back_quiz_list' %}active{% endif %}">
                        <i class="nav-icon far fa-comment"></i>
                        <p>
                            Les Quiz
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('back_gift_list') }}" class="nav-link {% if app.request.get('_route') == 'back_gift_list' %}active{% endif %}">
                        <i class="nav-icon far fa-heart"></i>
                        <p>
                            Prix
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Règles & Modalités</li>
                <li class="nav-item">
                <li class="nav-item">
                    <a href="{{ path('back_regles_list') }}" class="nav-link {% if app.request.get('_route') == 'back_regles_list' %}active{% endif %}">
                        <i class="nav-icon far fa-handshake"></i>
                        <p>
                            Règles & modalités
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Utilisateurs</li>
                <li class="nav-item">
                <li class="nav-item">
                    <a href="{{ path('back_user_list') }}" class="nav-link {% if app.request.get('_route') == 'back_user_list' %}active{% endif %}">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            Liste utilisateurs
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('back_user_create_admin') }}" class="nav-link {% if app.request.get('_route') == 'back_user_create_admin' %}active{% endif %}">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            Créer Administrateur
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
<!-- /.sidebar -->
</aside>
