{% extends 'base.html.twig' %}

{% block title %}Prochain Concours{% endblock %}

{% block body %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-group" id="accordion" style="padding:20px;">
                    <div class="panel panel-default">
                        {% for regle in regles %}
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" style="color:#e2b13c">{{ regle.title }}</a>
                            </h4>
                        </div>
                        <div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
                            <div class="panel-body">{{ regle.content }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Onview Section -->
    <div class="container-fluid no-padding welcome-section2">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 content-block" style="margin:auto;float:none">
                    {% if concoursInCurse is null %}
                        {% if nextConcours %}
                            <!-- Section Header -->
                            <div class="section-header2">
                                <i><img src="{{ asset('front/images/section-header2-1.png') }}" alt="Section Header"></i>
                                <span>Prochain Concours</span>
                                <h2>Le {{ nextConcours.atDate|format_datetime('full', 'none', locale='fr') }}<br> de {{ nextConcours.atDate|date('H:i') }} à {{ nextConcours.atFinish|date('H:i') }}</h2>
                            </div><!-- Section Header /- -->
                            <ul id="countdown">
                                <li style="display:inline-block;margin-right:2rem;width:6rem;">
                                    <span class="days timenumbers" id="countdown_day">01</span>
                                    <p class="timeRefDays timedescription">jours</p>
                                </li>
                                <li style="display:inline-block;margin-right:2rem;width:6rem;">
                                    <span class="hours timenumbers" id="countdown_hour">00</span>
                                    <p class="timeRefHours timedescription">heures</p>
                                </li>
                                <li style="display:inline-block;margin-right:2rem;width:6rem;">
                                    <span class="minutes timenumbers" id="countdown_min">00</span>
                                    <p class="timeRefMinutes timedescription">minutes</p>
                                </li>
                                <li style="display:inline-block;margin-right:2rem;width:6rem;">
                                    <span class="seconds timenumbers yellow-text" id="countdown_sec">00</span>
                                    <p class="timeRefSeconds timedescription">secondes</p>
                                </li>
                            </ul>

                            <p>Le prochain concours sera sur le suivant : <strong>{{ nextConcours.title }}</strong>. Pour vous y préparer, vous pouvez télécharger le document suivant. Chacune des réponses demandées se trouve dans le document, ou dans les références auxquelles il renvoie.</p>
                            <p>Avant de participer au concours, merci de prendre connaissance des <a data-toggle="modal" data-target=".bd-example-modal-lg" style="cursor:pointer">règles et modalités</a>.</p>
                            {% if app.user %}
                                <a href="{{ asset(constant('App\\Service\\File::DOCUMENT_UPLOAD_DIR') ~ nextConcours.document) }}" target="_blank" class="download-file">Télécharger le document</a>
                            {% else %}
                                {% if app.user %}
                                    <a href="{{ path('front_security_login') }}" class="download-file btn-concours">Télécharger le document</a>
                                {% else %}
                                    <a href="{{ path('front_security_login') }}" class="download-file btn-concours">Télécharger le document</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <p>Aucun concours prévu pour le moment. Merci de repasser très prochainement...</p>
                        {% endif %}

                    {% else %}

                        <div class="section-header2">
                            <i><img src="{{ asset('front/images/section-header2-1.png') }}" alt="Section Header"></i>
                            <span>Quiz en cours</span>
                            <h2>Un quiz est en cours jusque {{ concoursInCurse.atFinish|date('H:i') }}</h2>
                        </div>
                            {% if concoursInCurse is not null %}
                                <p>Le concours qui est en train de se dérouler est sur le thème <strong>{{ concoursInCurse.theme }}</strong>.<br>
                                    Pour vous y préparer, vous pouvez télécharger le document suivant. Chacune des réponses demandées se trouve dans le document, ou dans les références auxquelles il renvoie.<br>
                                Avant de participer au concours, merci de prendre connaissance des <a data-toggle="modal" data-target=".bd-example-modal-lg" style="cursor:pointer">règles et modalités</a>.</p>
                                <div class="row">
                                    {% if app.user %}
                                        {% if userPlayed %}
                                            <p>Vous avez déjà participé à ce Quiz.</p>
                                        {% else %}
                                        <div class="col-md-6">
                                            <a href="{{ asset(constant('App\\Service\\File::DOCUMENT_UPLOAD_DIR') ~ concoursInCurse.document) }}" target="_blank" class="download-file btn-concours" style="padding-left:26px">Télécharger le document</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{ path('front_start_quiz', {'id': concoursInCurse.id}) }}" class="download-file btn-concours" style="padding-left:26px">Démarrer le Quiz</a>
                                        </div>
                                        {% endif %}
                                     {% else %}
                                         <div class="col-md-6">
                                             <a href="{{ path('front_security_login') }}" class="download-file btn-concours" style="padding-left:26px">Télécharger le document</a>
                                         </div>
                                         <div class="col-md-6">
                                             <a href="{{ path('front_security_login') }}" class="download-file btn-concours" style="padding-left:26px">Démarrer le Quiz</a>
                                         </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <p>Pour télécharger ce document, vous devez créer gratuitement un compte. La participation au concours sera également gratuite. Concours-Culture est une initiative entièrement gratuite et citoyenne, destinée à la promotion de la culture générale. </p>
                                <a href="{{ path('front_security_login') }}"  class="download-file">Me connecter ou m'inscrire</a>
                            {% endif %}
                    {% endif %}
                </div>
            </div>

        </div><!-- Container /- -->
    </div><!-- Onview Section /- -->
    <div class="padding-50"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
{% if nextConcours %}
<script>
countdownManager = {
    // Configuration
    targetTime: new Date('{{ nextConcours.atDate|date('Y-m-d H:i:s') }}'), // Date cible du compte à rebours (00:00:00)
    displayElement: { // Elements HTML où sont affichés les informations
        day:  null,
        hour: null,
        min:  null,
        sec:  null
    },

    // Initialisation du compte à rebours (à appeler 1 fois au chargement de la page)
    init: function(){
        // Récupération des références vers les éléments pour l'affichage
        // La référence n'est récupérée qu'une seule fois à l'initialisation pour optimiser les performances
        this.displayElement.day  = jQuery('#countdown_day');
        this.displayElement.hour = jQuery('#countdown_hour');
        this.displayElement.min  = jQuery('#countdown_min');
        this.displayElement.sec  = jQuery('#countdown_sec');

        // Lancement du compte à rebours
        this.tick(); // Premier tick tout de suite
        window.setInterval("countdownManager.tick();", 1000); // Ticks suivant, répété toutes les secondes (1000 ms)
    },

    // Met à jour le compte à rebours (tic d'horloge)
    tick: function(){
        // Instant présent
        var timeNow  = new Date();

        // On s'assure que le temps restant ne soit jamais négatif (ce qui est le cas dans le futur de targetTime)
        if( timeNow > this.targetTime ){
            timeNow = this.targetTime;
        }

        // Calcul du temps restant
        var diff = this.dateDiff(timeNow, this.targetTime);

        this.displayElement.day.text(  diff.day  );
        this.displayElement.hour.text( diff.hour );
        this.displayElement.min.text(  diff.min  );
        this.displayElement.sec.text(  diff.sec  );
    },

    // Calcul la différence entre 2 dates, en jour/heure/minute/seconde
    dateDiff: function(date1, date2){
        var diff = {}                           // Initialisation du retour
        var tmp = date2 - date1;

        tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
        diff.sec = tmp % 60;                    // Extraction du nombre de secondes
        tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
        diff.min = tmp % 60;                    // Extraction du nombre de minutes
        tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
        diff.hour = tmp % 24;                   // Extraction du nombre d'heures
        tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
        diff.day = tmp;

        return diff;
    }
};

jQuery(function($){
    // Lancement du compte à rebours au chargement de la page
    countdownManager.init();
});
</script>
{% endif %}
{% endblock %}
